<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.restAssured.RestAssuredPost_CreateUser"/>
      <class name="com.qa.http.HttpGet_ListUsers"/>
      <class name="com.qa.restAssured.RestAssuredGet_ListUsers"/>
      <class name="com.qa.http.HttpDelete_DeleteUser"/>
      <class name="com.qa.http.HttpGet_SingleUser"/>
      <class name="com.qa.http.HttpPost_CreateUser"/>
      <class name="com.qa.restAssured.RestAssuredGet_SingleUser"/>
      <class name="com.qa.restAssured.RestAssuredDelete_DeleteUser"/>
      <class name="com.qa.restAssured.RestAssuredGet_CountryDetails"/>
      <class name="com.qa.http.HttpGet_CountryDetails"/>
      <class name="com.qa.http.HttpPut_UpdateUser"/>
      <class name="com.qa.restAssured.RestAssuredBDD_GetWeatherDetails"/>
      <class name="com.qa.restAssured.RestAssuredPut_UpdateUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
